<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="primaryColor" value="DimGrey" />
    <add key="secondaryColor" value="DarkGoldenrod" />
    <add key="tertiaryColor" value="Red" />
    <add key="connectionString" value="Data Source=(LocalDb)\LocalDB;Initial Catalog=master;Integrated Security=SSPI;"/>
  </appSettings>
</configuration>